/*color scheme:
//crimson #B20000
//light green #29BA63
//dark green #3E4C33
//cream #FFFDC2*/

html{
    background-color: gainsboro;
}

body{
   width: 700px;
   background-color: white;
   margin: 20px auto;
   padding: 15px;
   height: 100%;
   color: #354144;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1, h2, h3, a{
    color: #dimgray;
}
