/*color scheme:
//crimson #B20000
//light green #29BA63
//dark green #3E4C33
//cream #FFFDC2*/

html{
    background-color: #6DFA7E;
}
body {
    width: 650px;
    background-color: #F9FADC;
    font-family: Tahoma, Geneva, sans-serif;
    border: solid 4px #B20000;
    margin: 20px auto;
    padding: 15px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    height: 100%;
    color: #3E4C33
}
h1, h2, h3, a{
    color: #29BA63;
}
ul li{
    list-style-type: none;
}

.error{
    color: red;
    font-weight: bold;
}
/*#user_list{
    float:left;
}
#display_list{
    float:left;
    clear: none;
}*/